ul{
    text-decoration: none;
    list-style: none;
}
i{
    color: rgb(152, 198, 240);
    padding-right: 5px;
}
.btn-higtlight{
    background-color: blanchedalmond;
    margin-bottom: auto;
    text-decoration: none;
    color: rgb(105, 153, 207);
    font-weight: bold;
    padding: 9px 35px;
    border-radius: 20px;
    margin-left: 30px;
}